<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap"
      rel="stylesheet"
    />
    <title>Ebs Vision</title>
    <link rel="stylesheet" href="../../css/loginTelepresenca.css" />
    <script src="../../js/telepresenca-login.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="container-signin">
        <h1>Login Telepresença</h1>
        <ul id="errors"></ul>
        <form action="../operator/signin" method="POST" id="form">
          <div class="btn">
            <input type="text" name="login" id="login" placeholder="Login" />
          </div>
          <div class="btn">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="password"
            />
          </div>
          <p id="log"></p>
          <br /><br />
          <button type="submit"><span class="btn-text">Logar</span></button>
        </form>
      </div>
    </div>
  </body>
</html>
